<?xml version="1.0" encoding="utf-8"?>
<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <string>{"nome":"1","ordenar_por":"ID do Frete","ordenar_ordem":"Crescente","DPI":"6 dpmm (152 dpi)","largura":10,"altura":16,"unidade":"cm"}</string>
  <string>{"nome":"2","ordenar_por":"ID do Frete","ordenar_ordem":"Crescente","DPI":"8 dpmm (203 dpi)","largura":10,"altura":16,"unidade":"cm"}</string>
  <string>{"nome":"3","ordenar_por":"ID do Frete","ordenar_ordem":"Crescente","DPI":"12 dpmm (300 dpi)","largura":10,"altura":16,"unidade":"cm"}</string>
</ArrayOfString>